* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container > button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: var(--color-black);
  color: #eee;
}

.grid-container > button.button-gray{
  background-color: var(--color-gray);
}

.grid-container > button:hover {
  opacity: 80%;
}

.grid-container > .operator {
  background: var(--color-orange);
}

.span-two {
  grid-column: span 2;
}

.grid-container > .output {
  grid-column: 1 / -1;
  background: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.grid-container > .output > .previous-operand {
  color: var(--color-white);
  font-size: 1.5rem;
}

.grid-container > .output > .current-operand {
  color: var(--color-white);
  font-size: 2.5rem;
}
